<div class="docs-banner">
  <blockquote>
    <p>
      If you are reading this and
      <span title="I don't…">understand what it is about,
      you probably should</span><br/>
      <a target="_blank" title="NSFW" href="//camunda.com/jobs">have a look at that…</a><br/>
      <span class="small">just sayin'</span>
    </p>
    <footer>
      <cite>
        <a title="Chief Excetive Officer of Awesomeness" href="//camunda.com/about/jobs/frontend-developer.php">Vale</a>, UI developer at Camunda
      </cite>
    </footer>
  </blockquote>
</div>
