{{ define "menu-node" }}
  <li>
    {{ if .HasChildren }}
      <a href="{{.URL}}" >
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
      <ul>
        {{ range .Children }}
          {{ template "menu-node" .}}
        {{ end }}
      </ul>
    {{else}}
      <a href="{{.URL}}" >
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    {{end}}
  </li>
{{ end }}

<!-- menu start -->

<ul>
  {{ range .Site.Menus.main }}
    {{ template "menu-node" . }}
  {{end}}
</ul>

<!-- menu end -->
