{{ define "menu-node" }}
  <li>
    {{ if .HasChildren }}
      <a href="{{.URL}}" >
        <span>{{ .Name }}</span>
      </a>
      <ul>
        {{ range .Children }}
          {{ template "menu-node" .}}
        {{ end }}
      </ul>
    {{else}}
      <a href="{{.URL}}" >
        <span>{{ .Name }}</span>
      </a>
    {{end}}
  </li>
{{ end }}

<!-- menu start -->

<div class="version">
  <span class="name">Manual</span>
  <span class="number"><a>7.4</a></span>
</div>

<ul>
  {{ range .Site.Menus.main }}
    {{ template "menu-node" . }}
  {{end}}
</ul>


<div class="meta">
  <h4 class="header">
    <span class="toggle glyphicon glyphicon-chevron-up"></span>
    Options
  </h4>
  <div class="content">
    here comes something else...
  </div>
</div>

<!-- menu end -->
