{{ partial "header.html" . }}
<!-- _default/single template -->
<div class="container-fluid">

  <div class="row">

    <div class="col-xs-12 col-md-3 site-menu">
      {{partial "menu.html" . }}
    </div>

    <div class="col-xs-12 col-md-9">
      <div class="row">

        <div class="col-xs-12 col-md-9 page-content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>

        <div class="col-xs-12 col-md-3 page-toc">
          <div class="affix well" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
            <h3>On this Page:</h3>
            <div>
              {{ .TableOfContents }}
            </div>
          </div>
        </div>

      </div><!-- / .row -->
    </div>

  </div>
</div>

{{ partial "footer.html" . }}
