
@font-face { font-family: VolkswagenTS-Regular; src: url('VolkswagenTS-Regular.otf'); }

h1, h2, h3, h4, .h1 {
    font-family: 'VolkswagenTS-Regular', 'Helvetica', 'Sans';
    font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  text-decoration: none;
}

/**
 * loaded to remove angular template flicker on site load
 * @see http://docs.angularjs.org/api/ng.directive:ngCloak
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

/** Prevent Modal Slide in, instead do a Fade in */
.modal.fade {
    -webkit-transition: opacity .2s linear, none;
       -moz-transition: opacity .2s linear, none;
            transition: opacity .2s linear, none;
}

@media (min-width: 768px) {

  .dropdown:hover > .dropdown-menu {
      display: block;
  }

  .navbar-nav > li > .dropdown-menu {
    border-radius: 4px;
  }

  /* needed to show caret on dropdown-menu */
  .navbar .nav > li > .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
  }

  /* needed to show caret on dropdown-menu */
  .navbar .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }

}

/*.headline h2 {
   color: #333;
}

.headline {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}*/

/**
 * fix for inline code popovers
 */
div.popover {
  font-family: sans-serif;
  word-break: normal;
  color: #111;
}

.nocode {
  display: inline-block;
  background-color: #e3e9f2;
  color: #223f7a;

  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** loading icon integration */
.icon-loading {
  background-image: url(../img/ajax-loader.gif);
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-position: 0 0;
}

/** utilities */
/** for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/** end utilities */

/**
 * shared style declarations
*/
html, body {
  height:100%;
  min-height: 100%;
}

body {
  padding-top: 50px;  /* Account for fixed navbar */
}

@media (max-width: 480px) {
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer {
  background-color: #FAFAFA;
  border-top: 1px solid #D4D4D4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

  padding-top: 2em;
  padding-bottom: 2em;
}

/**
 * Wrapper to pull down a footer element;
 * use as
 *
 * <div class="wrapper">
 *   <!-- ... -->
 *   <div class="push-down">
 * </div>
 *
 * <footer></footer>
 */
.wrapper {
  min-height: 100%;
  height: auto !important; /* ie7 fix */
  height: 100%;
  /* substract height of footer */
  margin: 0px auto -117px;
}

.push-down {
  height: 147px;
}

/**
 * Logo styling
 */
.navbar-brand {
  background: left center no-repeat scroll url(../img/logo.png);
  width: 164px;
  margin-right: 15px;
}

.navbar-brand.back-to-main {
  background: left center no-repeat scroll url(../img/back.png);
  width: 135px;
}

@media (max-width: 979px) {
  .navbar-right {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-version {
    display: block;
  }
}

.popover {
  width: 300px;
}

.app-source {
  margin-top: 20px;
}

/* =============================== */
/* FORM SEARCH */

.form-search .dropdown-menu {
  margin-left: 10px;
}

.form-search .code {
  font-family: monospace;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.form-search > ul.nav > li.module {
  background-color: #d3d3d3;
}

.form-search > ul.nav > li.section {
  background-color: #ebebeb;
  min-height: 14px;
}

.form-search > ul.nav > li.last {
  margin-bottom: 1em;
}

.form-search .spacer {
  display: block;
  height: 15px;
}

.form-search .search {
  position: relative;
  width: 100%;
}

.form-search input {
  position: absolute;
  left: 27px;
  right: 0;
  width: auto;
}

.form-search .well {
  border-color: #d3d3d3;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.form-search .well .nav-header {
  text-transform: none;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.form-search .well .nav-header a {
  text-transform: none;
  color: black;
}
.form-search .well .nav-header a:hover {
  background-color: inherit;
}

.form-search .well li {
  line-height: 16px;
}

.form-search .well .guide {
  float: right;
  padding-top: 0;
  color: gray;
}

.form-search .nav-list > li > a {
  padding: 4px 15px;
}

.form-search .dropdown-menu {
  left: 27px;
  margin: 0;

  -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px 6px;
          border-radius: 0 6px 6px 6px;
}

/* ----------------------------- */

.docs > h1 {
  padding-bottom: 20px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #EEE;
}

.docs h2 {
  margin: 30px 0 10px;
}

.docs h3 {
  margin: 20px 0 5px;
}

.docs h4 {
  margin: 20px 0 10px;
}

.docs section:first-child {
  padding-top: 0;
}

/* sitebar navigation end **/

.container-small {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.container-tiny {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-bottom: 0px;
}

.jvm {
  background: url("../../assets/img/jvm-tile.png");
  background-size: contain;
}

/** bootstrap overrides for improving readability */

/*.docs-guide h4 {
  font-size: 20px;
}*/

img.tile {
  margin-top:10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  width: 230px;
  display: block;
}


/** css toc links */

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor {
  display: none;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor {
  display: inline-block;
}

pre.console {
  background-color: #333;
  color:white;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.docs-sidebar.affix {
  position: static;
}

/* First level of nav */
.docs-sidenav:first-child {
  margin-top: 49px;
  margin-bottom: 5px;
}

.docs-sidenav {
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Search field */
.docs-sidebar .search {
  padding: 10px;
}

/* All levels of nav */
.docs-sidebar .nav > li > a {
  display: block;
  color: #777;
  padding: 5px 20px;
}
.docs-sidebar .nav > li > a:hover,
.docs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e0e0e0;
  border-right: 1px solid #dbd8e0;
}
.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #555;
  background-color: transparent;
  border-right: 1px solid #555;
}

/* Nav: second level (shown on .active) */
.docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.docs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}




/* Search suggestions */
.twitter-typeahead {
  display: block !important;
}
/*
.input-group .twitter-typeahead .form-control:not(:first-child) {
  border-radius: 4px 0 0 4px;
}
*/

.tt-dropdown-menu {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 4px #aaa;
  width: 100%;
}
.tt-cursor {
  background-color: #eee;
}
.tt-suggestion {
  padding: 0 10px;
}




/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .docs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .docs-sidebar.affix,
  .docs-sidebar.affix-bottom {
    width: 213px;
  }
  .docs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 100px;
  }
  .docs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .docs-sidebar.affix-bottom .docs-sidenav,
  .docs-sidebar.affix .docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .docs-sidebar.affix .docs-sidenav.search {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .docs-sidebar.affix-bottom,
  .docs-sidebar.affix {
    width: 263px;
  }
}

/* Janky fix for preventing navbar from overlapping */
h1[id], h2[id], h3[id], h4[id] {
  padding-top: 100px;
  margin-top: -45px;
}

/** chapter header (for book style) */

.chapter-header {
  padding: 30px 0 20px 0;
  border-color: #AAA;
  border-top: solid 10px;
  border-bottom: solid 2px;
  margin: 100px 0 40px 0;
}

.chapter-header:first-child {
  margin-top: 20px;
}

.chapter-header h1 {
  font-size: 64px;
}

@media print {
  .chapter-header, .page-header {
    page-break-before: always;
  }

  .chapter-header:first-child {
    page-break-before: auto;
  }
}

/** code fix for responsive ui */
code {
  white-space: normal;
  word-wrap: break-word;
}

/** bpmn diagram styling */

.bpmn-diagram-container {
  width: 100%;
  overflow: auto;
  padding: 5px;
  margin-bottom: 5px;

  border: solid 1px #DDD;
  border-radius: 5px;
}

.bpmn-symbol-container {
  display: inline-block;
  position: relative;
}

.table-bpmn-events .bpmn-symbol-container {
  margin:auto;
  width: 40px;
}

.table-bpmn-events td, .table-bpmn-events th {
  width: 10%;
  text-align: center;
}

.table-bpmn-events td {
  vertical-align: middle !important;
}

.table-bpmn-events td:first-child {
  font-weight: bold;
  text-align: right;
}

.breadcrumb {
  margin: 10px 0 0;
  background-color: inherit;
  line-height: 29px;
  padding: 0 10px 0 10px;
  font-size: 0.85em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumb-fixed-top {
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  min-height: 47px;
  box-shadow: 0 0 4px #FFF;
}

.breadcrumb>li {
  display: inline;
}

@media screen and (min-width: 992px) {

  .breadcrumb > li.breadcrumb-section {
    display: none;
  }
}

.jumbotron {
  background-color: #f9f9f9;
}

.document-header {
  margin-top: 50px;
}

.document-header h1 {
  font-size: 50px;
}

/*
  Fixes some IE and Firefox issues with our examples
*/
.example {
  width: 250px;
}

.link-img-thumb-enlarge {
  font-size: 0.85em;
  margin: 5px 5px 20px 5px;
}

/*
  fixes modal dialog
*/
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 1000px;
    width: auto;
    min-width: 600px;
  }
}

/*
  adjust header padding for pages without navigation and deep links
*/
.overview-page h2 {
  padding-top: 50px;
}

.panel h2 {
  padding-top: 0px;
  margin-top: 2px;
}
