<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>id</td>
    <td>String</td>
    <td>
      The id of the decision output value.
    </td>
  </tr>
  <tr>
    <td>decisionInstanceId</td>
    <td>String</td>
    <td>
      The id of the decision instance the output value belongs to.
    </td>
  </tr>
  <tr>
    <td>clauseId</td>
    <td>String</td>
    <td>
      The id of the clause the output value belongs to.
    </td>
  </tr>
  <tr>
    <td>clauseName</td>
    <td>String</td>
    <td>
      The name of the clause the output value belongs to.
    </td>
  </tr>
  <tr>
    <td>ruleId</td>
    <td>String</td>
    <td>
      The id of the rule the output value belongs to.
    </td>
  </tr>
  <tr>
    <td>ruleOrder</td>
    <td>Integer</td>
    <td>
      The order of the rule the output value belongs to.
    </td>
  </tr>
  <tr>
    <td>errorMessage</td>
    <td>String</td>
    <td>
      An error message in case a Java Serialized Object could not be de-serialized.
    </td>
  </tr>
  <tr>
    <td>variableName</td>
    <td>String</td>
    <td>
      The name of the output variable.
    </td>
  </tr>
  <tr>
    <td>type</td>
    <td>String</td>
    <td>The value type of the variable.</td>
  </tr>
  <tr>
    <td>value</td>
    <td>String/Number/Boolean/Object</td>
    <td>
      The variable's value. Value differs depending on the variable's type and on the <code>{{ .Get "deserializationParameter" }}</code> parameter.
    </td>
  </tr>
  <tr>
    <td>valueInfo</td>
    <td>Object</td>
    <td>
      A JSON object containing additional, value-type-dependent properties.
      <p>For variables of type <code>Object</code>, the following properties are returned:</p>
      <ul>
        <li>
          <code>objectTypeName</code>: A string representation of the object's type name.
        </li>
        <li>
          <code>serializationDataFormat</code>: The serialization format used to store the variable.
        </li>
      </ul>
    </td>
  </tr>
</table>
