<table class="table table-striped">
  <tr>
	<th>Name</th>
	<th>Value</th>
	<th>Description</th>
  </tr>
  <tr>
	<td>value</td>
	<td>String/Number/Boolean/Object</td>
	<td>
	  The variable's value. {{ if (.Get "deserializationParameter") }} Value differs depending on the variable's type and on the <code>{{ .Get "deserializationParameter" }}</code> parameter.{{ end }}
	</td>
  </tr>
  <tr>
	<td>type</td>
	<td>String</td>
	<td>The value type of the variable.</td>
  </tr>
  <tr>
	<td>valueInfo</td>
	<td>Object</td>
	<td>
	  A JSON object containing additional, value-type-dependent properties.
		<p>For variables of type <code>Object</code>, the following properties are returned:</p>
		<ul>
		  <li>
			<code>objectTypeName</code>: A string representation of the object's type name.
		  </li>
		  <li>
			<code>serializationDataFormat</code>: The serialization format used to store the variable.
		  </li>
		</ul>
	</td>
  </tr>
</table>