<p><table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>value</td>
    <td>The variable's value. For variables of type <code>Object</code>, the serialized value has to be submitted as a String value.<p>
        For variables of type <code>File</code> the value has to be submitted as Base64 encoded string.
    </td>
  </tr>
  <tr>
    <td>type</td>
    <td>The value type of the variable.</td>
  </tr>
  <tr>
    <td>valueInfo</td>
    <td>
      A JSON object containing additional, value-type-dependent properties.
      <p>For serialized variables of type <code>Object</code>, the following properties can be provided:</p>
      <ul>
        <li>
          <code>objectTypeName</code>: A string representation of the object's type name.
        </li>
        <li>
          <code>serializationDataFormat</code>: The serialization format used to store the variable.
        </li>
      </ul>
      <p>For serialized variables of type <code>File</code>, the following properties can be provided:</p>
      <ul>
        <li>
          <code>filename</code>: The name of the file. This is not the variable name but the name that will be used when downloading the file again.
        </li>
        <li>
          <code>mimetype</code>: The MIME type of the file that is being uploaded.
        </li>
        <li>
          <code>encoding</code>: The encoding of the file that is being uploaded.
        </li>
      </ul>
       {{ $isTransient := .Get "transient" }}
       {{ if $isTransient}}
         <p>The following property can be provided for all value types:</p>
          <ul>
            <li><code>transient</code>: Indicates whether the variable should be transient or not. See <a href="{{ ref . "user-guide/process-engine/variables.md#transient-variables" }}">documentation</a> for more informations.</li>
          </ul>
       {{ end }}
    </td>
  </tr>
  {{ $localValue := .Get "local" }}
  {{ if $localValue}}
    <tr>
      <td>local</td>
      <td>{{ $localValue | markdownify }}</td>
    </tr>
 {{ end }}
</table></p>
